$color-lighten-7: #385585;
$color-lighten-6: #6886ab;
$color-lighten-5: #7f9ebd;
$color-lighten-4: #9ab4cc;
$color-lighten-2: #bfd1e3;
$color-lighten-3: #7f9ebd;
$color-lighten-1: #d7eaf7;
$color-lighten-1-transparent: rgba(82, 93, 155, 0.2);
$color-lighten-1-transparent-selected: rgba(82, 93, 155, 0.6);
$color-lighten-0: #ffffff;

$color-darken-1-transparent: rgba(157, 61, 91, 0.2);
$color-darken-1: #abc1d5;
$color-darken-2: #385585;
$color-darken-3: #6886ab;

$color-accent-3: #9ab4cc;