$color-lighten-1: #ebdce1;
$color-lighten-1-transparent: rgba(155, 82, 105, 0.2);
$color-lighten-1-transparent-selected: rgba(155, 82, 105, 0.6);
$color-lighten-2: #cb5b83;
$color-lighten-3: #8d3b55;
$color-darken-1: #9d3d5b;
$color-darken-1-transparent: rgba(157, 61, 91, 0.2);
$color-darken-2: #59293d;
$color-darken-3: #63152d;
$color-accent-3: #ad1457;
